<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.njk" %}
</head>
<body>
    {% include "nav.njk" %}
    <div class="d-flex p-4 mx-auto flex-column">
    {{ content | safe }}
    {% include "footer.njk" %}
    </div>
</body>
</html>