---
layout: base
title: Austin H. Johnson
---

<div class="container pt-5">
  <div class="row">
    <div class="col-8">
      <div class="row text-black text-opacity-50">
        Hi, my name is
      </div>
      <div class="row display-1 text-success">
        Austin H. Johnson
      </div>
      <div class="row display-4">
        I'm a school psychologist
      </div>
      <div class="row pt-3 pb-5">
        I work as an Associate Professor at the University of California, Riverside, and am on an American Council of Education fellowship during the 2022-23 academic year. My pronouns are he/him.
      </div>
      <div class="row">
        Buttons go here
      </div>
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>

