---
layout: base
title: Austin H. Johnson
---

<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="row text-black text-opacity-50">
        <div class="col">
          Hi, my name is
        </div>
      </div>
      <div class="row display-1 text-success">
        <div class="col">
          Austin H. Johnson
        </div>
      </div>
      <div class="row display-4">
        <div class="col">
          I'm a school psychologist
        </div>
      </div>
      <div class="row pt-3 pb-4">
        <div class="col">
          I work as an Associate Professor at the University of California, Riverside, and am on an American Council of Education fellowship during the 2022-23 academic year. My pronouns are he/him.
        </div>
      </div>
      <div class="row pb-4">
        <div class="col">
          <button type="button" class="btn btn-success btn-sm"><i class="ai ai-cv"></i></button>
          <button type="button" class="btn btn-success btn-sm"><i class="ai ai-google-scholar"></i></button>
          <button type="button" class="btn btn-success btn-sm"><i class="ai ai-researchgate"></i></button>
          <button type="button" class="btn btn-success btn-sm"><i class="ai ai-osf"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/img/headshot1.jpg" class="img-fluid rounded" alt="Austin's wearing glasses and a red and white checkered shirt in front of a blurred plant background. He's smiling.">
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col">
      <p class="text-center">About</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="/img/hs.svg" class="rounded float-start" alt="...">
    </div>
    <div class="col">
      skdlakd
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col">
      <p class="text-center">Experience</p>
    </div>
  </div>
  <div class="row align-items-center justify-content-center text-center m-1 mb-4">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center text-center m-1 mb-4">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col">
      <p class="text-center">Projects and Selected Products</p>
    </div>
  </div>
  <div class="row align-items-center justify-content-center m-1 mb-4">
    <div class="col-4">
      <div class="card" style="max-width: 20rem;">
        <img src="/img/bx.svg" class="card-img-top" alt="...">
        <div class="card-header text-center" style="font-size: 1.1rem;"><strong>Evidence-based behavior support</strong></div>
        <div class="card-body">
          <p class="card-text" style="font-size: .9rem;">I work to identify usable assessment and intervention strategies for supporting student behavior in schools.</p>
        </div>
        <div class="card-footer text-muted">
          <a href="#" class="card-link"><i data-feather="book-open"></i></a>
          <a href="#" class="card-link"><i data-feather="file-text"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>