---
layout: base
title: Austin H. Johnson
---

<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="row text-black text-opacity-50">
        <div class="col">
          Hi, my name is
        </div>
      </div>
      <div class="row display-1 text-success">
        <div class="col">
          Austin H. Johnson
        </div>
      </div>
      <div class="row display-4">
        <div class="col">
          I'm a school psychologist
        </div>
      </div>
      <div class="row pt-3 pb-4">
        <div class="col">
          I work as an Associate Professor at the University of California, Riverside, and am on an American Council of Education fellowship during the 2022-23 academic year. My pronouns are he/him.
        </div>
      </div>
      <div class="row pb-4">
        <div class="col">
          <a href="https://profiles.ucr.edu/app/home/profile/austinj" target="_blank"><button type="button" class="btn btn-success btn-sm"><i class="ai ai-cv"></i></button></a>
          <a href="https://scholar.google.com/citations?user=XQ7qJWwAAAAJ&hl=en" target="_blank"><button type="button" class="btn btn-success btn-sm"><i class="ai ai-google-scholar"></i></button></a>
          <a href="https://www.researchgate.net/profile/Austin_Johnson2" target="_blank"><button type="button" class="btn btn-success btn-sm"><i class="ai ai-researchgate"></i></button></a>
          <a href="https://osf.io/bhaqz/" target="_blank"><button type="button" class="btn btn-success btn-sm"><i class="ai ai-osf"></i></button></a>
          <a href="https://orcid.org/0000-0002-6349-0049" target="_blank"><button type="button" class="btn btn-success btn-sm"><i class="ai ai-orcid"></i></button></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/img/headshot1.jpg" class="img-fluid rounded" alt="Austin's wearing glasses and a red and white checkered shirt in front of a blurred plant background. He's smiling.">
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row pb-2">
    <div class="col">
      <a name="about"><p class="h1 text-center text-success"><strong>About</strong></p></a>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="/img/hs.svg" class="rounded float-start" alt="...">
    </div>
    <div class="col">
      <p>I'm an Associate Professor in the School of Education at the University of California, Riverside, and the former Program Director for the School Psychology PhD program at UCR. During the 2022-23 academic year, I've been serving as an American Council on Education fellow at the University of Redlands. I received my PhD in Educational Psychology, with a concentration in School Psychology, from the University of Connecticut in 2014. I joined UCR in 2015 after serving as a Postdoctoral Research Fellow with an Institute for Education Sciences grant project focused on social, emotional, and behavioral screening practices. My research interests focus on behavior support for equitable student outcomes, with recent publications examining issues in research ethics relative to gender identity as well as methodological issues in single-case design. I co-authored the practitioner-focused book “School-Based Behavioral Assessment: Informing Prevention and Intervention.”</p>
      <p>I was an Associate Editor with the Journal of School Psychology from 2018 to 2023, and am a licensed psychologist in the state of California (CA29540). You can request copies of articles through ResearchGate, view citations and such on Google Scholar, and download data and project materials from Open Science Framework.</p>
      <p>Outside of work, I periodically host a radio show called the Quadraphonic Rock Block on UCR's campus radio station KUCR, hang out with my kids, drink coffee, and am a very mediocre climber.</p>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row pb-2">
    <div class="col">
      <a name="experience"><p class="h1 text-center text-success"><strong>Experience</strong></p></a>
    </div>
  </div>
  <div class="row justify-content-center m-1 mb-4">
    <div class="col-8">
      <div class="card">
        <div class="container-fluid py-3">
          <div class="row">
            <div class="col text-start">
              <h5 class="card-title">Fellow - American Council on Education</h5>
              <p class="card-text">I'm currently an ACE Fellow for the 2022-23 academic year.</p>
            </div>
            <div class="col-2 text-end">
              <p class="card-text">2022-23</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center m-1 mb-4">
    <div class="col-8">
      <div class="card">
        <div class="container-fluid py-3">
          <div class="row">
            <div class="col text-start">
              <h5 class="card-title">Associate Professor - University of California, Riverside</h5>
              <p class="card-text">I'm a member of the School Psychology area group housed within UCR's School of Education. I served as our Program Director from 2019 to 2022, and received tenure in 2021.</p>
            </div>
            <div class="col-2 text-end">
              <p class="card-text">2015-present</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center m-1 mb-4 pb-5">
    <div class="col-8">
      <div class="card">
        <div class="container-fluid py-3">
          <div class="row">
            <div class="col text-start">
              <h5 class="card-title">Postdoctoral Research Fellow - University of Connecticut</h5>
              <p class="card-text">I supported a multi-year IES grant project focusing on social, emotional, and behavioral screening practices in American schools.</p>
            </div>
            <div class="col-2 text-end">
              <p class="card-text">2014-2015</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-2">
  <div class="row pb-2">
    <div class="col">
      <a name="projects"><p class="h1 text-center text-success"><strong>Projects and Selected Products</strong></p></a>
    </div>
  </div>
</div>

<div class="container pb-5">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/img/bx.svg" class="card-img-top" alt="...">
        <div class="card-header text-center" style="font-size: 1.1rem;"><strong>Behavior support</strong></div>
        <div class="card-body">
          <p class="card-text" style="font-size: .9rem;">I work to identify usable assessment and intervention strategies for supporting student behavior in schools.</p>
        </div>
        <div class="card-footer text-muted">
          <a href="https://www.guilford.com/books/School-Based-Behavioral-Assessment/Chafouleas-Johnson-Riley-Tillman-Iovino/9781462545254" class="card-link"><i class="bi-book"></i></a>
          <a href="https://doi.org/10.1177/0198742919881112" class="card-link"><i class="bi bi-journal-text"></i></a>
          <a href="https://doi.org/10.1080/10474412.2019.1629945" class="card-link"><i class="bi bi-journal-text"></i></a>
          <a href="https://doi.org/10.17105/SPR-2018-0026.V48-4" class="card-link"><i class="bi bi-journal-text"></i></a>
          <a href="https://doi.org/10.1002/pits.22191" class="card-link"><i class="bi bi-journal-text"></i></a>
          <a href="https://doi.org/10.1016/j.jsp.2018.01.002" class="card-link"><i class="bi bi-journal-text"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/img/gender.svg" class="card-img-top" alt="...">
        <div class="card-header text-center" style="font-size: 1.1rem;"><strong>Gender and ethics</strong></div>
        <div class="card-body">
          <p class="card-text" style="font-size: .9rem;">I've published, presented, and engaged in advocacy for the retraction of a paper describing the abuse of a gender-non-confirming four year old.</p>
        </div>
        <div class="card-footer text-muted">
          <a href="https://link.springer.com/article/10.1007/s40617-022-00683-y" class="card-link"><i class="bi bi-journal-text"></i></a>
          <a href="#" class="card-link"><i class="bi bi-globe"></i></a>
          <a href="#" class="card-link"><i class="bi bi-music-player"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/img/sj.svg" class="card-img-top" alt="...">
        <div class="card-header text-center" style="font-size: 1.1rem;"><strong>Social justice</strong></div>
        <div class="card-body">
          <p class="card-text" style="font-size: .9rem;">I conduct research with others to achieve equitable outcomes for students in education, with a particular focus on race and behavior support strategies.</p>
        </div>
        <div class="card-footer text-muted">
          <a href="https://www.routledge.com/Critical-Theories-for-School-Psychology-and-Counseling-A-Foundation-for/Proctor-Rivera/p/book/9780367415778" class="card-link"><i class="bi-book"></i></a>
          <a href="https://doi.org/10.1080/15388220.2020.1783670" class="card-link"><i class="bi bi-journal-text"></i></a>
          <a href="https://doi.org/10.1037/spq0000463" class="card-link"><i class="bi bi-journal-text"></i></a>
          <a href="https://doi.org/10.1177/07342829211026464" class="card-link"><i class="bi bi-journal-text"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/img/scd.svg" class="card-img-top" alt="...">
        <div class="card-header text-center" style="font-size: 1.1rem;"><strong>Single-case design</strong></div>
        <div class="card-body">
          <p class="card-text" style="font-size: .9rem;">I engage in conceptual work to articulate and evaluate the use of single-case research in causal inference.</p>
        </div>
        <div class="card-footer text-muted">
          <a href="https://doi.org/10.1177/0741932521996452" class="card-link"><i class="bi bi-journal-text"></i></a>
          <a href="https://doi.org/10.1177/0014402919868529" class="card-link"><i class="bi bi-journal-text"></i></a>
          <a href="https://doi.org/10.1016/j.jsp.2021.10.006" class="card-link"><i class="bi bi-journal-text"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row pb-2">
    <div class="col">
      <a name="about"><p class="h1 text-center text-success"><strong>Contact</strong></p></a>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col">
      <p class="text-center">I'm always happy to chat, so please don't hesitate to <a href="mailto:austinj@ucr.edu">get in touch!</a></p>
    </div>
  </div>
</div>